{% extends 'layout.twig' %}

{% block titre %}
    Liste des articles
{% endblock %}

{% block contenu %}
    {% if articles is empty %}
        <p>Aucun article</p>
    {% else %}
        <ul class="liste-articles">
            {% for article in articles %}
                {% if article.statutPublication == 2 or global.session.statut == 'admin' or global.session.login  ==
                article.auteur %}
                    <li data-id="{{ article.id }}">
                        <a href="index.php?objet=article&amp;action=afficherDetail&amp;idArticle={{ article.id }}">
                            {{ article.titre }}
                        </a>
                        {% if global.session.login  == article.auteur or global.session.statut == 'admin' %}
                            <a href="index.php?objet=article&amp;action=editer&amp;idArticle={{ article.id }}"
                               class="button bouton-modification"><span>Modifier</span></a>
                            {% if article.statutPublication == 1 %}
                                <a href="index.php?objet=article&amp;action=supprimer&amp;idArticle={{ article.id }}"
                                   class="button bouton-suppression"
                                   data-id="{{ article.id }}"><span>Supprimer</span></a>
                            {% endif %}
                        {% endif %}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    <div><a href="index.php?objet=article&amp;action=editer">Nouvel article</a></div>
{% endblock %}

{% block javascript %}
    <script src="assets/js/cleanNode.js"></script>
    <script src="assets/js/ajaxDeleteArticle.js"></script>
{% endblock %}