{%  extends 'page.twig' %}

{% block titre %}
    Editer l'image
{% endblock %}

{% block contenu %}
    <form action="index.php?objet=image&amp;action=enregistrer" enctype="multipart/form-data" method="post">
        {% if image.id is not empty %}
        <input type="hidden" id="id" name="id" value="{{ image.id }}"/>
        {% endif %}
        <input type="hidden" id="auteur" name="auteur" value="{{ global.session.login }}" required/>
        {{ erreurs.auteur is defined ? display_errors(erreurs.auteur) : null }}
        <div>
            <label for="titre">Titre</label>
            <input type="text" id="titre" name="titre" value="{{ image.titre }}" required/>
            {{ erreurs.titre is defined ? display_errors(erreurs.titre) : null }}
        </div>
        <div>
            <label for="auteur">Image</label>
            <input type="file" id="fichier" name="fichier"/>
            {{ erreurs.fichier is defined ? display_errors(erreurs.fichier) : null }}
        </div>
        <div class="button">
            <button type="submit">{{ image.id is not empty ? 'Modifier' : 'Enregistrer' }}</button>
        </div>
    </form>
{% endblock %}