{%  extends 'page.twig' %}

{% block titre %}
    Détail de l'article
{% endblock %}

{% block contenu %}
<article>
    <header>
        <h3>{{ article.titre }}</h3>
        <h2>{{ article.auteur }}</h2>
        <p>{{ article.chapo }}</p>
    </header>
    <p>{{ article.contenu }}</p>
    <footer>
        <table>
            <tr>
                <th>Date de création</th>
                {% if article.statut = 1 %}
                <th>Date de publication</th>
                {% endif %}
            </tr>
            <tr>
                <td>{{ article.dateCreation }}</td>
                {% if article.statut = 1 %}
                <td>{{ article.datePublication }}</td>
                {% endif %}
            </tr>
        </table>
    </footer>
</article>
{% endblock %}
